<!DOCTYPE html>
<html>
<head>
<meta charset="UTF-8" />
<link rel="stylesheet" href="bandstyle.css" />
<title>CDI Festival - Les groupes</title>
</head>
<body>

	<nav>
		<ul>
			<li><a href="#">Accueil</a></li>
			<li><a href="#">Groupe</a></li>
			<li><a href="#">Sc&egrave;nes</a></li>
			<li><a href="#">Billeterie</a></li>
		</ul>
	</nav>

	<div id="container">
		<header>
			<div class="row">
				<h1>
					<img id="logo" src="img/logo.png" alt="CDI Festival" />
				</h1>
				<img id="date" src="img/date.png" alt="Du 23 au 25 juin 2017" />
			</div>
		</header>

		<h2>Les t&ecirc;tes d'affiches</h2>
		<div class="bands">
			<div class="band">
				<h4>Iron Maiden</h4>
				<p>Plus d'infos...</p>
			</div>
			<div class="band">
				<h4>Metallica</h4>
				<p>Plus d'infos...</p>
			</div>
			<div class="band">
				<h4>Foo Fighters</h4>
				<p>Plus d'infos...</p>
			</div>
		</div>

		<h2>Les autres groupes</h2>
		<div class="bands">
			<div class="band">
				<h4>Airbourne</h4>
				<p>Plus d'infos...</p>
				<h4>Cage the Elephant</h4>
				<p>Plus d'infos...</p>
			</div>
			<div class="band">
				<h4>Black Sabbath</h4>
				<p>Plus d'infos...</p>
			</div>
			<div class="band">
				<h4>Blood Red Shoes</h4>
				<p>Plus d'infos...</p>
			</div>
			<div class="band">
				<h4>Bukowski</h4>
				<p>Plus d'infos...</p>
			</div>
		</div>

		<footer>
			<p>&copy; 2016-2017 CDI Festival</p>
			<p>Mentions l&eacute;gales</p>
			<p>Acc&egrave;s organisation</p>
		</footer>

	</div>

</body>
</html>