<!DOCTYPE html>
<html>
<head>
<meta charset="UTF-8" />
<link rel="stylesheet" href="../../style/bandstyle.css" />
<title>CDI Festival - Nom du groupe</title>
</head>
<body>

	<nav>
		<ul>
			<li><a href="#">Accueil</a></li>
			<li><a href="#">Groupe</a></li>
			<li><a href="#">Sc&egrave;nes</a></li>
			<li><a href="#">Billeterie</a></li>
		</ul>
	</nav>

	<div id="container">
		<header>
			<div class="row">
				<h1>
					<img id="logo" src="img/logo.png" alt="CDI Festival" />
				</h1>
				<img id="date" src="img/date.png" alt="Du 23 au 25 juin 2017" />
			</div>
		</header>

		<h2>Nom du groupe</h2>
		<div id="inner-container">
			<div class="row">
				<div>
					<img id="bandlogo" src="img/iron_maiden_logo.png"
						title="logoGroupe" alt="Logo" />
					<p>
						Ordre de passage <br />Date :<br />Heure :<br />Sc&egrave;ne :
					</p>
				</div>
				<img id="bandpicture" src="" title="photoGroupe" alt="Photo groupe" />
			</div>

			<hr />

			<div class="info">
				<h3>Biographie</h3>
				<p>Blabla...</p>
			</div>

			<hr />

			<div class="info">
				<h3>Discographie</h3>
				<ul>
					<li>1996 CD1</li>
					<li>2000 CD2</li>
				</ul>
			</div>

			<hr />

			<div class="info">
				<h3>Site Internet</h3>
				<p>www.nomdugroupe.com</p>
			</div>
		</div>

		<footer>
			<p>&copy; 2016-2017 CDI Festival</p>
			<p>Mentions l&eacute;gales</p>
			<p>Acc&egrave;s organisation</p>
		</footer>

	</div>

</body>
</html>