<!DOCTYPE html>
<html>
<head>
<meta charset="UTF-8" />
<link rel="stylesheet" href="../../style/bandstyle.css" />
<title>CDI Festival - Organisation - Cr&eacute;er ou modifier une fiche groupe</title>
</head>
<body>

	<nav>
		<ul>
			<li><a href="#">Accueil</a></li>
			<li><a href="#">Artistes</a></li>
			<li><a href="#">Sc&egrave;nes</a></li>
			<li><a href="#">Billeterie</a></li>
		</ul>
	</nav>

	<div id="container">

		<header>
			<div class="row">
				<h1>
					<img id="logo" src="img/logo.png" alt="CDI Festival" />
				</h1>
				<img id="date" src="img/date.png" alt="Du 23 au 25 juin 2017" />
			</div>
		</header>

		<h2>Cr&eacute;er ou modifier une fiche groupe</h2>
		<div id="inner-container">
			<!-- New band creation form -->
			<form name="fiche" method="post" onsubmit="return validate(this);"
				action="http://localhost:8085/CDI_Festival/CreateBand">
				<label>Nom du groupe*</label>
				<input type="text" name="bandname" /> <!-- required -->
				<br /> <br />
				<label>Logo</label>
				<br /><br />
				<label>Photo</label>
				<br /><br />
				<br /> <label>Biographie</label>
				<input type="text" name="bandbio" />
				<br /><br />
				<!-- TODO text field + year box? -->
				<label>Discographie</label>
				<input type="text" name="banddisco" />
				<br /> <br />
				<label>Site Internet</label>
				<input type="url" name="bandwebsite" />
				<br /> <br />
				<input type="reset" value="Effacer" />
				<input type="submit" value="Enregistrer" />
			</form>
		</div>
		
		<footer>
			<p>&copy; 2016-2017 CDI Festival</p>
			<p>Mentions l&eacute;gales</p>
			<p>Acc&egrave;s organisation</p>
		</footer>
		
	</div>

<script src="bandformscript.js"></script>

</body>
</html>