<!DOCTYPE html>

<html lang="fr">

<head>
<meta charset="utf-8" />
<title>Accueil Festival</title>
<link rel="stylesheet" type="text/css" href="http://localhost:8085/CDI_Festival/style/articleStyle.css">
<link rel="stylesheet" type="text/css" href="http://localhost:8085/CDI_Festival/style/style.css" />
</head>

<body>


<!--  Banner with logo and text -->
	<header>
		<div class="row">
			<h1>
				<img id="logo" src="http://localhost:8085/CDI_Festival/images/banner/logo.png" alt="CDI Festival" />
			</h1>
			<img class="text-header" src="http://localhost:8085/CDI_Festival/images/banner/headline.png" alt="More code, more rock!" />
			<img class="text-header" src="http://localhost:8085/CDI_Festival/images/banner/dates.png" alt="Du 23 au 25 juin 2017" />
		</div>
	</header>


<!-- Navigation menu bar -->
	<nav>

		<input type="hidden" id="contextPath" value="http://localhost:8085/CDI_Festival"/>

			<ul>
				<li><a href="http://localhost:8085/CDI_Festival/accueil">Accueil</a></li>
				<li><a href="#" onclick="callBandController('Groupe')">Groupe</a></li>
				<li><a href="#">Sc&egrave;nes</a></li>
				<li class="dropdown" ><a href="#">Billetterie</a>	
					<div class="dropsub">
						<a href="http://localhost:8085/CDI_Festival/pass/show">Achat Pass</a>
						<a href="http://localhost:8085/CDI_Festival/pass/manage">Gestion Pass</a>
					</div>
				</li>
		
			</ul>
	</nav>


<!-- News maker -->

	<div class="container">
		<form onsubmit="return isEmpty()" name="creation" action="http://localhost:8085/CDI_Festival/article/add" method="post">
			<p>	
				<label class="aligne" for="author">Auteur :</label> 
				<input type="text" id="author" name="author" placeholder="Auteur" onchange="changeElement(this.element)">
			</p>
   	 		<p> 
   	 			<label class="aligne" for="title">Titre :</label> 
   	 			<input type="text" id="title" name="title" placeholder="Titre" onchange="changeElement(this.element)"> 
   	 		</p>
   	 		<p> 
   	 			<label class="aligne" for="content">Article :</label> 
   	 			<textarea id="content" name="content" placeholder="Article (mini 150 caractères / max 4000 caractères)" onchange="changeElement(this.element)"></textarea> 
   	 		</p>
   	 		
   	 		<div class="btn">
    			<button name="btncreate" type="submit">Créer</button>
    			<button name="btncancel" type="reset">Annuler</button>
    		</div> 
		</form>
		
	<footer>
		<p>&copy; 2016-2017 CDI Festival</p>
		<p>Mentions l&eacute;gales</p>
		<p>Acc&egrave;s organisation</p>
	</footer>
	</div>
   	
<!-- Footer with informations, partners and links -->
	
<script src="http://localhost:8085/CDI_Festival/js/article.js"></script>
</body>
</html>