  /********************************/ 
 /*			Articles style		 */
 /********************************/ 

/*--------------------------------------------All page*/ 
.container { 
	text-align: center;
	margin-top: 150px;
	margin-left: auto;
	margin-right: auto;
	width: 800px;
	border: 1px solid black;
	background-color: rgba(0, 0, 0, 0.7);
}

.justify {
	text-align: justify;
}

/*--------------------------------------------Index page*/
.summary_container {

	margin-top: 10px;
	margin-bottom: 10px;
	border: 1px solid black;
	width: 300px;
	height: auto;
} 

#context {
	display: flex;
    flex-direction: column;
}

.summary_container a {
	text-decoration: none;
	color: black;
}

.summary_container h3 a{
	text-align: center;
	color: white;
}

.summary_container h3 a:hover {
	color: #FF7100
}

.summary {
	font-size: 11;
}

.date {
	display: block;
	color: white;
}

#btncreate {
	margin-left: 425px;
}

/*--------------------------------------------Add page*/
.containercreate {
	margin-top: 150px;
	margin-left: auto;
	margin-right: auto;
	width: 800px;
	border: 1px solid black;
	/*background-color: rgba(0, 0, 0, 0.7);*/
	
	input, textarea {
    width: 150px;
    padding: 4px;
    vertical-align: top;
}

textarea {
    width: 600px;
    height: 20em;
}

.aligne {
    display: inline-block;
    width: 100px;
    margin-right: 20px;
    vertical-align: top;
    text-align: right;
}

.btn {
	margin-left: 125px; 
}

 /********************************/ 
 /* 		Footer style		 */
 /********************************/
  
.icon {
	width: 30px;
	height: 30px;
}

.footer_container {
	width: 100%;
	background-color: black;
	display: flex;
	justify-content: space-around;
}

.footer_socials {
	margin-left: 1200px;
}

.footer_list { 
	list-style-type: none;
}

.footer_list li {
	float: left;
}

.footer_list a {
	padding: 5px;
	letter-spacing: 1px;
	text-decoration: none;
	color: white;
}

#login {
	padding-top: 30px;
}

#login a {
	text-decoration: none;
	color: grey;
}

