/*--------------------------------------------All page*/ 
.container { 
	margin-top: 50px;
	margin-left: auto;
	margin-right: auto;
	width: 850px;
	border: 2px solid black;
	border-bottom: none;
	padding-bottom: 0;
}

.justify {
	background-color: rgba(255, 255, 255, 0.7);
	text-align: justify;
}

/*--------------------------------------------Index page*/
.summary_container {
	margin-left: 130px;
	margin-top: 10px;
	margin-bottom: 10px;
	border: 1px solid black;
	width: 500px;
	height: auto;
} 

#context {
	display: flex;
    flex-direction: column;
}

.summary_container h3{
	border: 2px solid white;
}

.summary p{
	font-size: 16;
	color: black;
}


.date {
	display: block;
	color: white;
}

#btncreate {
	margin-left: 430px;
}

*--------------------------------------------Add page*/
.containercreate {
	margin-top: 150px;
	margin-left: auto;
	margin-right: auto;
	width: 800px;
	border: 1px solid black;
}

input, textarea {
    width: 150px;
    padding: 4px;
    vertical-align: top;
}

input {
	width: 600px;
}

textarea {
    width: 600px;
    height: 20em;
}

.aligne {
    display: inline-block;
    width: 100px;
    margin-right: 20px;
    vertical-align: top;
    text-align: right;
}

.btn {
	margin-left: 120px;
}