body {
	background: url("../images/bg.jpg");
	background-size: cover;
	font-family: Arial, Sans-Serif;
	margin: 0px;
}


H3{
    background: #7a7a7a;
    text-align: center;
    
}

H2 {
    text-align: center;
}


span div div img {
    padding-left:auto;
    padding-right:auto;
}

.container {
    
    margin-top:80px;
	margin-left: auto;
	margin-right: auto;
	width: 960px;
	}

.container p {
    color:black;
}


.title {
    text-align: center
    
}

.sub-container {
    background: black;
    display: block;
    
    margin:auto;
    border: 10px;
}




// 

.align-right {
    text-align: right;
}


.subTitle {
    padding-left:200px;
}



.pass {
    display: block
    margin: 0 auto
    
    height: 350px;
    
    background-repeat: no-repeat;
    background-size: contain;
    
}




/*--------------------------------------------------- Footer*/
footer {
	display: flex;
	justify-content: space-around;
	background-color: #1c1c1c;
	margin-bottom: 20px;
}

footer p {
	font-size: 13px;
	padding-top: 15px;
}


/* --------------------------------------------------------- */
/* PAGE CART cart.jsp  */
/* ---------------------------------------------------------*/


.checkout {
    display: inline;
    margin:0px;
     padding:0px;
     color: white;
}
.pass {
    padding-left:10px;
    margin-bottom: 50px;
}

.total {
    margin: 30px;
    border: 3px solid black;
}

.section-pass {
	background:black;

	width: 720px;
	margin: 0px auto;
	padding: 20px;
	
}

.text {
	width: 500px;
	height: 120px;
	margin-top: 15px;
}

h1 {
	margin: 0px;
}

.row {
	display: flex;
	justify-content: space-around;
	margin-left: 0px;
	margin-right: 0px;
	margin-bottom: 15px;
	padding-top: 15px;
}

p price {
	block:inline;
}


/* --------------------------------------------------------- */
/* PAGE ACCEUIL main.html  */
/* ---------------------------------------------------------*/


nav ul {
	margin: 0;
}

nav li {
	display: block;
	float: left;
	padding: 10px 15px;
}

nav li a {
	color: white;
	font-size: 20px;
	letter-spacing: 2px;
	text-transform: uppercase;
	text-decoration: none;
}


/* --------------------------------------------------------- */
/* GESTION DES PASS gestion.jsp  */
/* ---------------------------------------------------------*/



table
{ 
    margin-left: auto;
    margin-right: auto;
}

table, th, td {
   border: 1px solid black;
}

.container {
    position: relative;
}

.center {
    left: 0;
    top: 50%;
    width: 100%;
    text-align: center;
    font-size: 18px;
}

.checkout {
	display:inline;
}



/* --------------------------------------------------------- */
/* LISTE DES PASS consult.jsp  */
/* ---------------------------------------------------------*/

/*  SECTIONS  */
.section {
	clear: both;
	padding: 0px;
	margin: 0px;
}

/*  COLUMN SETUP  */
.col {
	display: block;

	float:left;
    margin: 0, auto;
	margin: 1% 0 1% 10%;
}

.col:first-child { margin-left: 0; }


/*  GROUPING  */
.group:before,
.group:after { content:""; display:table; }
.group:after { clear:both;}
.group { zoom:1; /* For IE 6/7 */ }


/*  GRID OF TWO  */
.span_2_of_2 {
	width: 100%;
}
.span_1_of_2 {
	width: 45%;
}

/* --------------------------------------------------------- */
/* HEADER  */
/* ---------------------------------------------------------*/

#logo {
	width: 260px;
	height: 120px;
	margin: 15px 120px 0px 120px;
}

.text {
	width: 500px;
	height: 120px;
	margin-top: 15px;
}












