body {
    	background: url("../gfx/bg.jpg");
	background-size: cover;
	font-family: Arial, Sans-Serif;
margin: 0px;
}




H1{
    background: #7a7a7a;
    padding: 20px;
    margin-top: auto;
}

H3{
    background: #7a7a7a;
    text-align: center;
    
}

H2 {
    text-align: center;
}

header {
    
    background:#333;
    padding: 40px;
    
}

footer {
  position: absolute;
  right: 0;
  bottom: 0;
  left: 0;
  padding: 1rem;
  background-color: #333;
  text-align: center;
  color: white;s
    
}

.content-color {
    
    
    background: #ECF0F1
    
}

.lazy {
    padding: 55px;
    
    background: #ECF0F1
}


.new-div {
    
    background:#333;
    display:block;
    margin: auto;1
    padding: 10px;
    color: white;
       
    
}

.cart {
    display: inline-block;

}



.container {
    background: black;
    margin-top:80px;
	margin-left: auto;
	margin-right: auto;
	width: 960px;
	}

.container p {
    background: black;
}

.fond {
    background: black;
}

.fixed_width {
   background:green;
   width:160px;
   height:300px;
   border:6px dashed #153410;
   display:table-cell;
}

.dynamic_width {
   background:blue;
   height:300px;
   border:6px dashed #f6c230;
   display:table-cell;
   width:auto;
}

img {
    margin-left: 40px;
    margin-right: 10px;
    margin-bottom: 40px;
    margin-top: 40px;
    
    width: 70%;
    height: 400px;
    
    background-repeat: no-repeat;
    background-size: contain;
    border: 1px solid red;
}




.title {
    text-align: center
    
    
}

.sub-container {
    background: black;
    display: block;
    
    margin:auto;
    border: 10px;
}




// 

.align-right {
    text-align: right;
}


.subTitle {
    padding-left:200px;
}

span div div img {
    padding-left:auto;
    padding-right:auto;
}


.festi-date {
    
    color:#d9006d;
        font-size: 17px;
    font-weight: 400;
    text-align: left;

}


/* --------------------------------------------------------- */
/* PAGE CART cart.jsp  */
/* ---------------------------------------------------------*/


.checkout {
    display: inline;
    margin:0px;
     padding:0px;
}

.total {
    margin: 30px;
    border: 3px solid black;
}



/* --------------------------------------------------------- */
/* PAGE ACCEUIL main.html  */
/* ---------------------------------------------------------*/


nav ul {
	margin: 0;
}

nav li {
	display: block;
	float: left;
	padding: 10px 15px;
}

nav li a {
	color: white;
	font-size: 20px;
	letter-spacing: 2px;
	text-transform: uppercase;
	text-decoration: none;
}


/* --------------------------------------------------------- */
/* GESTION DES PASS gestion.jsp  */
/* ---------------------------------------------------------*/



table
{ 
    margin-left: auto;
    margin-right: auto;
}

table, th, td {
   border: 1px solid black;
}

.container {
    position: relative;
}

.center {
    position: absolute;
    left: 0;
    top: 50%;
    width: 100%;
    text-align: center;
    font-size: 18px;
}



/* --------------------------------------------------------- */
/* LISTE DES PASS consult.jsp  */
/* ---------------------------------------------------------*/

/*  SECTIONS  */
.section {
	clear: both;
	padding: 0px;
	margin: 0px;
}

/*  COLUMN SETUP  */
.col {
	display: block;
	float:left;
	margin: 1% 0 1% 10%;
}

.col:first-child { margin-left: 0; }


/*  GROUPING  */
.group:before,
.group:after { content:""; display:table; }
.group:after { clear:both;}
.group { zoom:1; /* For IE 6/7 */ }


/*  GRID OF TWO  */
.span_2_of_2 {
	width: 100%;
}
.span_1_of_2 {
	width: 45%;
}













