/* About body */
body {
	background-image: url("../images/bg.jpg");
	width: 100%;
	margin: 0;
	padding: 0;
	font-family: Arial, Sans Serif;
}

/* ABout banner */
.banner {
	background-color: black;
}

#banner_logo {
	position: center;
}

#banner_dates {
	margin-left: 250px;
}

/* About navigation menu bar */
#menu {
	margin-left: 30%;
	margin-top: 1em;
	clear: both;
}

#menu ul {
 	margin:0;
 	padding:0;
 	list-style-type:none;
 	text-align:center;
 }

#menu li {
 	float: left;
 	margin: auto;
	padding: 0;
	background-color: black;
 }


#menu li a {
 	display:block;
 	width: 100px;
 	color: white;
 	border-right: 1px solid;
 	text-decoration: none;
 	padding: 5px;
 }

/*About articles */
.article {
	clear: both;
}

/* About footer */
.icon {
	width: 30px;
	height: 30px;
}

.footer_container {
	position: absolute;
	bottom: 0;
	width: 100%;
	background-color: black;
	display: flex;
	justify-content: space-around;
}

.footer_socials {
	margin-left: 1200px;
}

.footer_list { 
	list-style-type: none;
}

.footer_list li {
	float: left;
}

.footer_list a {
	padding: 5px;
	letter-spacing: 1px;
	text-decoration: none;
	color: white;
}